@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
    color: blue;
}

body {
    background-color: #eeeeee;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}

td {
    border: 1px solid black;
}

nav {
    background-color: #000000;
}

nav li {
    display: inline;
    margin: 0;
    padding: 0 10px;
}

nav ul {
    display: inline;
}

nav a {
    height: 60px;
    line-height: 60px;
    color: lightgray;
    text-decoration: none;
}

b {
    font-weight: bold;
    color: white;
}

img {
    border-radius: 5%;
}

.gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-item {
    margin: 20px;
  }
.logo {
    width: 200px;
    height:200px;
}

.nietBehaald {
    background: lightgray;
}

.voldoende {
    background: green;
}

.onvoldoende {
    background: red;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.box {
    box-sizing: border-box;
    width: 300px;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    transform: rotate(20deg);
}